.profile-picture-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-picture-frame {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  overflow: hidden;
  background: var(--beige);
  margin: 1rem;
}

.profile-picture {
  height: 10rem;
  transform: translateY(5%);
}
