.blog {
  background: var(--cobalt);
  height: 95%;
  font-family: var(--montserrat);
}

.blog-container {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 2rem;
  overflow: hidden;
  width: 100%;
  height: 90%;
}
