.blog {
  background: var(--cobalt);
  height: 95%;
  font-family: var(--montserrat);
}

.blog-container {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 2rem;
  overflow-x: hidden;
  width: 100%;
  height: 90%;
  box-shadow: inset 1rem 1rem 1rem var(--dark-cobalt);
  padding: 2rem;
}
