.spinner {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner img {
  height: 50%;
  animation: infinite brrr 3s;
}

@keyframes brrr {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(1deg);
  }
}
