.canvas {
  height: 99.6%;
  width: 100%;
  background: var(--purple);
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  cursor: none;
}

.racoon {
  visibility: hidden;
  position: absolute;
}